<% provide(:title, "Hackday") %>

<% if @current_hackday %>
	<h1>Current hackday</h1>
	<%= render 'list', :hackdays => [@current_hackday] %>
<% end %>

<h1>Create a new Hackday!</h1>
<%= form_for @hackday do |f| %>	
	<%= render 'fields', :f => f %>
	<%= f.submit "Create Hackday" %>
<% end %>

<% if @past_hackdays.any? %>
	<h1>Past Hackdays:</h1>
	<%= render 'list', :hackdays => @past_hackdays %>
<% end %>
