<h1><%= @hackday.title %></h1>
<small>Held: <%= time_ago_in_words(@hackday.held_at) %> ago</small>

<% if @hackday.active? %>
	<div><small><%= link_to "change", edit_hackday_url(@hackday) %></small></div>
	<div>
		<small>
			<%= link_to "delete", @hackday, :method => :delete, :data => { 
				:confirm => "Are you sure you wish to delete this hackday?"
			} %>
		</small>
	</div>
<% end %>

<h2>Add Project</h2>
<%= form_for @hackday.projects.build do |f| %>
	<%= render 'projects/fields', :f => f %>
	<%= f.submit "Add project" %>
<% end %>

<h2>Projects</h2>
<%= render 'projects/list', :projects => @hackday.projects.where(:hackday_id => @hackday.id) %>
